<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Nuestras rutas: </h2>
<mat-checkbox > ¡ Compruébalo! </mat-checkbox >
  <mat-checkbox > ¡ Compruébalo! </mat-checkbox >
    <mat-checkbox > ¡ Compruébalo! </mat-checkbox >
<ul>
  <li>
    <h2><a [routerLink]="['/']">Inicio</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/servicios']">Servicios</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/contacto']">Contacto</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/producto',23]">Producto</a></h2>
  </li>
</ul>
<main>
  <router-outlet>

  </router-outlet>
</main>

